.word {
    display: inline-block;
    margin: 10px;
}

p {
    margin: 5px;
}

.smallcaps {
    font-variant-caps: all-small-caps;
}

.line {
    border-bottom: 1px solid black;
}

.lang-line:nth-child(even) {
    background: #DDDDDD;
}

td.footnote-label {
    vertical-align: top;
}

td.footnote-label span {
    margin-top: 15px;
}

.footnote-ref {
    float: right;
    font-size: smaller;
}

.lang-control {
    display: inline-block;
}
