.word {
    display: inline-block;
    margin: 10px;
}

p {
    margin: 5px;
}

.smallcaps {
    font-variant-caps: all-small-caps;
}

.line {
    border-bottom: 1px solid black;
}

.lang-line:nth-child(even) {
    background: #DDDDDD;
}
